# Gradle
.gradle/
build/

out/

# Netbeans
nbactions.xml
.nb-*

# Intellij
.idea/
*.iml

# TestFX
screenshot*.png

# logs
*.log

# Compiled class file
*.class

# JavaScript
node_modules/

# Vim
*.swp

# OS X
.DS_Store
